const canvas = document.getElementById("game");
const ctx = canvas.getContext("2d");

function startGame() {
    canvas.style.display = "block";
    ctx.fillStyle = "red";
    ctx.fillRect(180, 180, 40, 40);
}